spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
    open-in-view: true

logging:
  level:
    org.hibernate.SQL: debug



jwt:
  secret-key: ${JWT_SECRET_KEY}
  token-expiration-time: 360000000
  issuer: ${JWT_ISSUER}

